---
import logo from '../assets/logo.png'
---

<footer class="site-foot">
  <div class="site-foot__logo">
    <a href="/">
      <img
        src={logo.src}
        alt="Paul Blanc"
        loading="lazy"
        width="280"
        height="280"
      />

      <span class="u-sr-only">Paul Blanc</span>
    </a>
  </div><!-- .site-foot__logo -->
</footer>

<style lang="scss">
  .site-foot {
    @include flex(row, center, center);

    position: relative;
    z-index: 3;

    padding: 1.5rem;

    border-top: 1px solid color(secondary);

    @include mq(phone) {
      padding: 1rem;
    }

    &__logo {
      img {
        display: block;
        width: 14rem;
        height: 14rem;

        @include mq(phone) {
          width: 7rem;
          height: 7rem;
        }
      }
    }
  }
</style>
